.header {
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

h2 {
  color: #3a3a47;
  font-size: 1.8rem;
  font-weight: 700;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav li {
  list-style: none;
  padding-left: 1rem;
  border-left: 2px solid #3a3a47;
}

.nav li:nth-child(1) {
  border-left: none;
}

a {
  color: #000;
  text-decoration: none;
}

.links {
  display: block;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.links:hover {
  color: #f5913e;
  text-decoration: underline;
}
